:root{
    --color-black: #000;
    --green-50: #f0fdf4;
    --green-100: #dcfce7;
    --green-200: #bbf7d0;
    --green-300: #86efac;
    --green-400: #4ade80;
    --green-500: #22c55e;
    --green-600: #16a34a;
    --green-700: #15803d;
    --green-800: #166534;
    --green-900: #14532d;
}


body{
    background: linear-gradient(90deg, var(--green-900) 10%, var(--green-700) 50%, var(--green-900) 90%);
    position: relative;
    
}

p, h1, h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
    color: var(--green-200);
}

.d-flex{
    display: flex;
    align-content: center;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: #000000AA;
}

.grid-container{
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 30%));
    gap: 45px;
}

.book-container{
    background-color: var(--green-600);
    position: relative;
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 1rem 2rem 0 2rem;
}

.delete-book{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}


.add-new-book{
    margin-top: 8vh;
    text-align: center;
}

.form-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--green-400);
    padding: 4rem;
    border-radius: 8px;
    z-index: 20;
}

.form-container > form{
    position: relative;
}

#add-new-btn{
    color: #000;
    border-color: #000;
}

#add-new-btn:hover{
    background-color: var(--green-500);
}

#close-btn{
    position: absolute;
    top: -8px;
    right: -8px;
    border-radius: 100%;
    border: 1px solid #000;
    background-color: #fff;
    cursor: pointer;
}

.icon-read{
    position: absolute;
    height: 20px;
    width: 20px;
    bottom: 2%;
    right: 2%;
    cursor: pointer;
}


/*js styles */

.hide{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}